// Colors

// BG
$paper_white: #F7F2D2;
$khaki: #C9B2A5;

// ELEMENTS
$deep_purple: #26062B;
$maroon_purple: #65133A;
$reddish_brown: #A64B46;

// HIGHLIGHTS
$muted_purple: #5D3C55;
$cerulean_blue: #1989AA;
$sun_orange: #EF9853;


.paper_white {
  background-color: $paper_white;
}1
.deep_purple {
  background-color: $deep_purple;
}
.maroon_purple {
  background-color: $maroon_purple;
}
.reddish_brown {
  background-color: $reddish_brown;
}
.khaki {
  background-color: $khaki;
}
.muted_purple {
  background-color: $muted_purple;
}
.cerulean_blue {
  background-color: $cerulean_blue;
}
.sun_orange {
  background-color: $sun_orange;
}
